<div class="delete-page">
  <h2>Delete <%= @item.name %></h2>

  <%= link_to '<i class="arrow left icon"></i>Items'.html_safe, items_path %>
  <br/>
  <br/>

  <p>Are you sure you want to delete this item?</p>

  <%= form_for @item, method: 'delete' do |f| %>

  <% f.submit 'Delete', class: 'ui negative button' %>
  <% end  %>
</div>
