<% if !flash[:alert].blank? %>
  <div class='ui negative message three column centered grid'>
    <div class="header">
        <%= flash[:alert] %>
    </div>
  </div><br/>
</br/>
<% end %>

<% if !flash[:notice].blank? %>
  <div class='ui positive message three column centered grid'>
    <div class="header">
        <%= flash[:notice] %>
    </div>
  </div><br/>
</br/>
<% end %>
