<div class="ui large menu">
  <%= link_to 'We Share', root_path, class: 'item' %>
  <div class="right menu">
    </div>
    <div class="item">
        <div class="ui primary button">Sign In</div>
    </div>
  </div>
</div>
